@use './variables.scss' as var;

footer{
    background-color: var.$red;
    padding : 30px 15px;

    >div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:9px;
        
        img{
            width: 230px;
        }

        nav{
            display: flex;
            flex-direction: column;
            align-items: end;
            gap:15px;
            padding-bottom : 15px;

            >div ul{
                display: flex;
                gap: 15px;
                flex-wrap: wrap;
                justify-content: end;

                li{
                    text-indent: 0;
                }

                a{
                    color : var.$white;
                    border-left : 1px solid var.$white;
                    padding-left :15px;

                    &:hover{
                        color : var.$black;
                    }
                    
                }
                
                li:first-of-type a{
                    border-left : none;
                }
            }
        }

        p{
            color: var.$white;
            text-align: end;
            padding-top:9px;
        }

    }
}

@media screen and ( max-width: 740px) {
    footer > div{
        flex-direction: column;
        gap: 40px;
        padding:20px 15px !important;

        *{
            border: none !important;
            font-size: 14px;

        }

        nav{
            align-items:baseline;
            flex-direction: row;
            border-bottom: 1px solid var.$white !important;
            padding-bottom: 43px !important;
            margin-bottom: 32px;
            justify-content: space-around;


            ul{
                flex-direction: column;
                padding: 0;
                list-style-type: none;
            }
        }

        p{
            text-align: center;
        }
    }
}