@use './variables.scss' as var;

footer{
    background-color: var.$red;
    padding : 30px 15px;

    >div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:9px;
        
        img{
            width: 230px;
        }

        nav{
            display: flex;
            flex-direction: column;
            align-items: end;
            gap:9px;
            padding-bottom : 15px;

            >div ul{
                display: flex;
                gap: 15px;

                li{
                    text-indent: 0;
                }

                a{
                    color : var.$white;
                    border-left : 1px solid var.$white;
                    padding-left :15px;

                    &:hover{
                        color : var.$black;
                    }
                    
                }
                
                li:first-of-type a{
                    border-left : none;
                }
            }
        }

        p{
            color: var.$white;
            text-align: end;
            padding-top:9px;
        }

    }
}