@use './variables.scss' as *;

@use './components/accBtns.scss';
@use './components/translateBtn.scss';
@use './components/titles.scss';
@use './components/input.scss';
@use './components/form.scss';

@use './header.scss';
@use './footer.scss';

@use './register.scss';

*{
    margin: 0;
    text-decoration: none;
    list-style: none;
    transition: all 0.2s ease;
    font-family: $barlow;
}

h1, h2{
   font-family: $playfair;
   font-weight: 400;
}

#header-up>div, #header-down>div, footer>div{
    max-width: 1440px;
    margin: auto;
    padding: 0 15px;
}