# images 
front-end/img/circuits/models
front-end/img/circuits/vectors

front-end/img/logos/models
front-end/img/logos/vectors

front-end/img/teams/models
front-end/img/teams/vectors

# autre
node_modules
/annexes
.env