@use '../variables.scss' as var;

#acc-div{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var.$bg-blue;
    padding :5px 27px ;
    border-radius: 19px 0 25px 0 ;
    box-shadow: 2px 2px 5px 0 #77161625;
    
    *{
        color : var.$black;
    }

    a:hover{
        color: var.$red;
    }
}