@use '../variables.scss' as var;

form{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    margin-top: 40px;
    gap: 60px;

    div{
        display: flex;
        flex-direction: column;
        gap : 30px;
    }
}

#other-options{
    a{
        text-decoration: underline;
        color : var.$black;

        &:hover{
            color : var.$red
        }
    }
}